html{
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
	height: 100%;
	/*background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);*/
	margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main-block{
	min-height: 400px;
}
.footer{
	margin-top: 30px;
}
.class-link{
	cursor: pointer;
}